<!-- app/views/change_notification_mailer/new_changes_notification.html.erb -->
<h1>New Changes Notification</h1>
<p>Hello <%= @user.name %>,</p>
<p>There are new changes in the application:</p>
<ul>
  <li>Product Name: <%= @changes.name %></li>
  <li>Product Description: <%= @changes.description %></li>
</ul>
